<div id="<%= dom_id payment_method %>">
  <p>
    <strong>Name:</strong>
    <%= payment_method.name %>
  </p>

  <p>
    <strong>Financial account:</strong>
    <%= payment_method.financial_account_id %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= payment_method.rate %>
  </p>

</div>
