<h1>Editing financial account</h1>

<%= render "form", financial_account: @financial_account %>

<br>

<div>
  <%= link_to "Show this financial account", @financial_account %> |
  <%= link_to "Back to financial accounts", financial_accounts_path %>
</div>
