<div id="<%= dom_id financial_class %>">
  <p>
    <strong>Name:</strong>
    <%= financial_class.name %>
  </p>

  <p>
    <strong>Abbreviation:</strong>
    <%= financial_class.abbreviation %>
  </p>

  <p>
    <strong>Is revenue:</strong>
    <%= financial_class.is_revenue %>
  </p>

</div>
